.sale {
    margin-bottom: 100px;
}

.background {
    background: linear-gradient(45deg, rgba(39,105,169,0.3) 0%, rgba(211,156,85,0.3) 100%);
    padding: 2px;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    gap: 85px;
    padding: 50px;

    background: rgba(255, 255, 255, 0.8);
}

.text_wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.title {
    font-size: 60px;
    font-weight: 700;
    line-height: 65px;
}

.title span {
    color: #B8884B;
    font-weight: 750;
}

.p_wrapper {
    display: flex;
    flex-direction: column;
    gap: 15px;

    color: rgb(37, 45, 53);
    font-weight: 500;
    line-height: 19px;
}

.p_wrapper .bold {
    font-weight: bold;
    line-height: 20px;
}


.button_wrapper {
    position: relative;
    display: flex;
    gap: 20px;
}

.dropdown_btn {
    background: #e5e6e5;

    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;

    width: 240px;
    height: 50px;

    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
}

.dropdown_img {
    margin-left: auto;
}

.active {
    transform: rotate(180deg);
}

.dropdown_list {
    position: absolute;
    top: 50px;
}

.dropdown_list li {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;

    background: #e5e6e5;
    border-top: 1px solid rgba(37, 45, 53, 0.2);
    width: 240px;
    height: 50px;

    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
}

.button {
    border: 2px solid rgba(241, 245, 248, 0.3);
    box-shadow: 0px 8px 20px 0px rgba(202, 154, 84, 0.35);
    background: #b8884b;
    transition: 0.3s;

    width: 50px;
    height: 50px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.button:hover {
    border: 2px solid rgba(241, 245, 248, 0.3);
    background: #252d35;
    box-shadow: none;
    transition: 0.3s
}